
#illustrator {
  padding-top: 20px;
  list-style: none;
  
  .GraphBody__bar--top {
    margin-top: 5px;
    z-index: 99;
  }

  .GraphBody__bar--bottom {
    z-index: 99;

    img {
      padding-top: 15px;
      padding-left: 25px;
      height: 50px;
      width: auto;
      z-index: 100;
    }
  }

}

#illustrator:hover {
  .GraphBody__bar--top {
    z-index:999; 
    background-color:#FF9B00; 
    margin-left:80px;
  }

  .GraphBody__bar--bottom {
    z-index:998; 
    background-color:#ed9102; 
    width:120px;
    background:-moz-linear-gradient(-90deg, #ed9102, #a16202); 
    background:-webkit-gradient(linear, 0 top, 0 bottom, from(#ed9102), to(#a16202));
  }
}