.JumboTron {
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
  position: relative;

  &__text {
    &--first {
      position: absolute;
      top: 25%;
      left: 18%;
    }

    &--last {
      position: absolute;
      top: 35%;
      left: 24%;
    }

    &--nick {
      position: absolute;
      top: 46%;
      left: 31%;
    }
  }
}