
#react {
  padding-top: 20px;
  list-style: none;
  
  .GraphBody__bar--top {
    margin-top: 5px;
    z-index: 99;
  }

  .GraphBody__bar--bottom {
    z-index: 99;
  }
}

#react {
  .GraphBody__bar--top {
    z-index:999; 
    background-color:#d34feb; 
    margin-left:760px;
  }

  .GraphBody__bar--bottom {
    z-index:998; 
    background-color:#1a6c90; 
    width:800px;
    background:-moz-linear-gradient(-90deg, #be48d3, #b743cc); 
    background:-webkit-gradient(linear, 0 top, 0 bottom, from(#be48d3), to(#b743cc));
  }
}